.message{id: message.id}
  .upper-message
    .message-name
      = message.user.name
    .message-time
      = format_posted_time(message.created_at)
  .lower-massage
    .message-body
    - if message.content.present?
      %p.message-body__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
