html,body,.notification,.chat-side,.chat-main {
    height: 100%;
}

.chat-side {
  width: 300px;
  float: left;
  .user{
    width: 100%;
    background-color: #253141;
    position: relative;
    .user-content {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
}

.user-name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 20px;
    position: relative;
    display: inline-block;
}

.chat-side__group-icon{
  float: right;
  padding-top: 33px;
}

.side-content__header__icon{
  color: #fff;
  font-size: 16px;
  padding-right: 5px;
  text-decoration: none;
}

.chat-side__groups {
    height: calc(100% - 90px);
    width: 100%;
    background-color: #2f3e51;
}

.chat-side__group {
    padding: 20px;
    &-name{
        color: #fff;
        font-size: 15px;
   }
    &-message{
        color: #fff;
        font-size: 11px;
    }
}

.chat-main {
    width: calc( 100% - 300px );
    float: right
}

.header {
    box-sizing: border-box;
    height: 90px;
    padding: 25px 40px 0;
}

.left-header-title {
    color: #333;
    font-size: 20px;
}

.left-header-member {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
}
.right-header {
    border: 1px solid $light-blue;
    color: $light-blue;
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.edit-btn{
    text-decoration:none;
    color: $light-blue;
}

.messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    height: calc(100% - 90px - 90px);
    overflow: scroll;
    padding: 35px 40px 0;
}
.message-name{
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding-right: 10px;
}
.message-time{
    font-size: 12px;
    color: #999;
}

.message-body{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    min-height: 90px;
    padding: 20px 50px 20px 40px;
    position: relative;
    &__message {
        border: none;
        box-sizing: border-box;
        float: left;
        height: 50px;
        padding: 0 10px;
        width: calc(100% - 100px);
    }
    &__mask {
        background-color: #fff;
        float: left;
    }
    &__mask__image {
        font-size: 20px;
        line-height: 50px;
        position: absolute;
        right: 160px;
        bottom: 20px;
    }
    &__submit {
        background-color: $light-blue;
        border: none;
        color: #fff;
        font-size: 16px;
        height: 50px;
        padding: 0 30px;
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
}
